@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@mixin fonts ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

.general__header{
    text-align: center;
    padding-top: 50px;

    .general__title{
        @include fonts(Raleway, 36px, 400, #000);
        margin: 0;
        text-transform: uppercase;

        height: 150px;
        line-height: 150px;
        vertical-align: middle;
    }
        
    .general__hr{
        width: 170px;
        margin: 0 auto;
    }
        
    .general__subtitle {
        @include fonts(Raleway, 18px, 400, #86878B);

        margin: 40px 0 0;
    }
}