@mixin fonts ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

.general__header{
    text-align: center;
    padding-top: 50px;

    .general__title{
        @include fonts(Raleway, 36px, 400, #000);
        padding: 54px 0;
        text-transform: uppercase;
    }
        
    .general__hr{
        width: 170px;
        margin: 0 auto;
        border: 0;
        border-top: 1px solid #EC7979;
    }
        
    .general__subtitle {
        @include fonts(Raleway, 18px, 400, #86878B);

        margin: 40px 0 0;
    }
}

@media(max-width: 1024px){
    .general__header{
        padding-top: 50px;
    
        .general__title{
            @include fonts(Raleway, 24px, 400, #000);
            padding: 46px 0;
        }
            
        .general__hr{
            width: 142px;
        }
            
        .general__subtitle {
            @include fonts(Raleway, 14px, 400, #86878B);
    
            margin: 32px 0 0;
        }
    }
}

@media(max-width: 768px){
    .general__header{
        padding-top: 0;

        .general__subtitle {
            margin: 24px 0 0;
        }
    }
}