.nav-bar {
  z-index: 10;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between; }
  .nav-bar .nav-bar__logo {
    margin: 0 471px 0 115px; }
  .nav-bar .nav-bar__menu {
    margin-right: 170px;
    width: 570px;
    display: flex;
    justify-content: space-between; }
  .nav-bar .nav-bar__menu a {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-style: normal;
    width: 114px;
    text-decoration: none;
    line-height: 75px;
    vertical-align: middle;
    text-align: center; }
    .nav-bar .nav-bar__menu a:hover {
      background-color: #EC7979; }
    .nav-bar .nav-bar__menu a:active {
      background-color: #AB4949; }

.header {
  background-image: url("../../images/header/header-bg.png");
  margin: 75px auto 0 auto;
  max-width: 1510px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5; }
  .header .header-column {
    margin: 208px 30px 185px 0;
    z-index: 1; }
    .header .header-column .column__title {
      font-family: Raleway;
      font-size: 48px;
      font-weight: 500;
      color: #fff;
      margin: 40px 0 55px 0;
      width: 670px; }
    .header .header-column .column__hr {
      width: 170px;
      border: 0.5px solid #fff;
      margin-bottom: 42px; }
    .header .header-column .column__text {
      font-family: Raleway;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 42px; }
    .header .header-column .column__btn {
      font-family: Open Sans;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      width: 270px;
      height: 58px;
      background-color: transparent;
      border: 2px solid #fff; }
      .header .header-column .column__btn:hover {
        cursor: pointer;
        border: 2px solid #EC7979;
        color: #EC7979; }
      .header .header-column .column__btn:active {
        border: 2px solid #AB4949;
        background-color: #AB4949;
        color: #fff; }
  .header .header__form {
    width: 470px;
    z-index: 1;
    align-self: start;
    margin-top: 208px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px; }
    .header .header__form .form__title {
      font-family: Open Sans;
      font-size: 24px;
      font-weight: 700;
      color: #333;
      height: 90px;
      line-height: 90px;
      vertical-align: middle;
      margin-bottom: 45px; }
      .header .header__form .form__title span {
        color: #EC7979; }
    .header .header__form input {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 400;
      color: #BDBDBD;
      width: 370px;
      height: 38px;
      margin: 0 50px 33px 50px;
      border: 0;
      border-bottom: 1px solid #BDBDBD; }
      .header .header__form input:focus {
        outline: 0; }
    .header .header__form .form__btn {
      font-family: Open Sans;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      line-height: 20px;
      height: 60px;
      margin-top: 42px;
      border: 0;
      background-color: #EC7979;
      border-radius: 0 0 10px 10px; }
      .header .header__form .form__btn:hover {
        cursor: pointer;
        background-color: #AB4949; }
      .header .header__form .form__btn:active {
        background-color: #EC7979;
        box-shadow: inset 0 0 10px 0 #AB4949; }

/*# sourceMappingURL=header.css.map */
