$list-border: 1px solid #F5F5F5;
$column-color: #333;


@mixin fonts($ff, $fs, $fw, $lh, $clr) {
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $clr;
}

.price__wrapper{
    background-color: #F5F5F5;
    margin: auto;
}

.price{
    max-width: 1170px;
    margin: 0 auto;
    padding-bottom: 50px;

    .price__list{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 79px;

        .list__column{
            width: 370px;
            transition: .5s;

            &:hover{
                cursor: pointer;
                transform: translate(0, -20px);
                box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.2);
            }

            .column__title{
                padding: 13px 0;
                @include fonts(Open Sans ,24px ,700 ,32px ,#fff);
                border: $list-border;

                background-color: $column-color;
            }
            .column__price{
                padding: 28px 0;
                @include fonts(Raleway ,36px ,700 ,42px ,#fff);
                border: $list-border;

                background-color: $column-color;
            }

            .column__term{
                padding: 13.3px 0;
                @include fonts(Raleway ,18px ,400 ,21px ,rgba(255, 255, 255, 0.5));
                border: $list-border;

                background-color: $column-color;
            }

            .services__list li{
                padding: 13.5px 0;
                @include fonts(Raleway ,18px ,400 ,21px ,#86878B);
                border: $list-border;
                background-color: #fff;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-transform: capitalize;
            }
        }
    }
}

@media (max-width: 1024px){
    .price{
        padding: 0 16px 50px;
        .price__list{
            margin-top: 50px;

            .list__column{
                width: 317px;
    
                .column__title{
                    padding: 11px 0;
                }
                .column__price{
                    padding: 22px 0;
                }
    
                .column__term{
                    padding: 11px 0;
                }
    
                .services__list li{
                    padding: 10.5px 0;
                }
            }
        }
    }
}

@media(max-width: 768px){
    .price{
        padding-bottom: 26px;
    
        .price__list{
            margin-top: 0;
            flex-direction: column;
            align-items: center;

            .list__column{
                width: 288px;
                margin-top: 25px;
    
                &:hover{
                    transform: translate(0, -18px);
                }
    
                .column__title{
                    padding: 7px 0;
                }
                .column__price{
                    padding: 17px 0;
                }
    
                .column__term{
                    padding: 11px 0;
                }
    
                .services__list li{
                    padding: 8.5px 0;
                }
            }
        }
    }
}