.price__wrapper {
  background-color: #F5F5F5;
  margin: auto; }

.price {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 50px; }
  .price .price__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 79px; }
    .price .price__list .list__column {
      width: 370px;
      transition: .5s; }
      .price .price__list .list__column:hover {
        cursor: pointer;
        transform: translate(0, -20px);
        box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.2); }
      .price .price__list .list__column .column__title {
        padding: 13px 0;
        font-family: Open Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: #fff;
        border: 1px solid #F5F5F5;
        background-color: #333; }
      .price .price__list .list__column .column__price {
        padding: 28px 0;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        color: #fff;
        border: 1px solid #F5F5F5;
        background-color: #333; }
      .price .price__list .list__column .column__term {
        padding: 13.3px 0;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
        border: 1px solid #F5F5F5;
        background-color: #333; }
      .price .price__list .list__column .services__list li {
        padding: 13.5px 0;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: #86878B;
        border: 1px solid #F5F5F5;
        background-color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: capitalize; }

@media (max-width: 1024px) {
  .price {
    padding: 0 16px 50px; }
    .price .price__list {
      margin-top: 50px; }
      .price .price__list .list__column {
        width: 317px; }
        .price .price__list .list__column .column__title {
          padding: 11px 0; }
        .price .price__list .list__column .column__price {
          padding: 22px 0; }
        .price .price__list .list__column .column__term {
          padding: 11px 0; }
        .price .price__list .list__column .services__list li {
          padding: 10.5px 0; } }
@media (max-width: 768px) {
  .price {
    padding-bottom: 26px; }
    .price .price__list {
      margin-top: 0;
      flex-direction: column;
      align-items: center; }
      .price .price__list .list__column {
        width: 288px;
        margin-top: 25px; }
        .price .price__list .list__column:hover {
          transform: translate(0, -18px); }
        .price .price__list .list__column .column__title {
          padding: 7px 0; }
        .price .price__list .list__column .column__price {
          padding: 17px 0; }
        .price .price__list .list__column .column__term {
          padding: 11px 0; }
        .price .price__list .list__column .services__list li {
          padding: 8.5px 0; } }

/*# sourceMappingURL=pricing.css.map */
