.customers {
  max-width: 1170px;
  margin: 0 auto 64px; }
  .customers .customers__list {
    display: flex;
    margin: 83px 0 0;
    justify-content: space-between; }
    .customers .customers__list .customers__item {
      max-width: 370px;
      display: flex;
      flex-direction: column; }
      .customers .customers__list .customers__item .item__message {
        position: relative;
        height: 180px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: #E2E2E2;
        text-align: center; }
        .customers .customers__list .customers__item .item__message .message__text {
          font-family: Raleway;
          font-size: 18px;
          font-weight: 400;
          color: #86878B;
          line-height: 26.2px;
          padding: 0 20px; }
      .customers .customers__list .customers__item .triangle {
        width: 30px;
        margin: 0 0 66px 18%; }
      .customers .customers__list .customers__item .item__info {
        display: flex; }
        .customers .customers__list .customers__item .item__info .avatar {
          align-self: start; }
        .customers .customers__list .customers__item .item__info .item__text-holder {
          margin-left: 30px; }
          .customers .customers__list .customers__item .item__info .item__text-holder .item__name {
            font-family: Open Sans;
            font-size: 24px;
            font-weight: 700;
            color: #000;
            line-height: 54px;
            margin-bottom: 15px; }
          .customers .customers__list .customers__item .item__info .item__text-holder .item__position {
            font-family: Raleway;
            font-size: 18px;
            font-weight: 400;
            color: #000; }
  .customers .slider-menu {
    display: none;
    margin: 32px auto 0;
    width: 130px;
    justify-content: space-between; }
    .customers .slider-menu .slider__button {
      display: none;
      width: 8px;
      height: 8px;
      border: 1px solid #86878B;
      background-color: transparent;
      border-radius: 50%; }
    .customers .slider-menu .slider__button-active {
      background-color: #86878B; }

@media (max-width: 1024px) {
  .customers {
    margin: 0 auto 57px;
    padding: 0 16px; }
    .customers .customers__list {
      margin: 32px 0 0; }
      .customers .customers__list .customers__item {
        max-width: 317px; }
        .customers .customers__list .customers__item .item__message {
          border-radius: 10px; }
          .customers .customers__list .customers__item .item__message::before {
            width: 26px;
            height: 20px;
            right: 222px; }
          .customers .customers__list .customers__item .item__message .message__text {
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            color: #86878B;
            line-height: 16px;
            height: 80px;
            padding: 0 34px; }
        .customers .customers__list .customers__item .item__info .avatar {
          width: 63px; }
        .customers .customers__list .customers__item .item__info .item__text-holder {
          margin-left: 22px; }
          .customers .customers__list .customers__item .item__info .item__text-holder .item__name {
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 700;
            color: #000;
            line-height: 36px;
            margin-bottom: 9px; }
          .customers .customers__list .customers__item .item__info .item__text-holder .item__position {
            font-family: Raleway;
            font-size: 14px;
            font-weight: 400;
            color: #000; } }
@media (max-width: 768px) {
  .customers {
    margin: 0 auto 31px; }
    .customers .customers__list {
      margin: 24px auto 0;
      max-width: 288px;
      overflow: hidden; }
      .customers .customers__list .customers__item {
        min-width: 288px; }
        .customers .customers__list .customers__item .item__message::before {
          right: 213px; }
        .customers .customers__list .customers__item .item__message .message__text {
          font-family: Raleway;
          font-size: 14px;
          font-weight: 400;
          color: #86878B;
          line-height: 16px;
          height: 80px;
          padding: 0 34px; }
        .customers .customers__list .customers__item .item__info .avatar {
          width: 57px; }
        .customers .customers__list .customers__item .item__info .item__text-holder {
          margin-left: 22px; }
          .customers .customers__list .customers__item .item__info .item__text-holder .item__name {
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 700;
            color: #000; }
          .customers .customers__list .customers__item .item__info .item__text-holder .item__position {
            font-family: Raleway;
            font-size: 13px;
            font-weight: 400;
            color: #000; }
    .customers .slider-menu {
      display: flex; }
      .customers .slider-menu .slider__button {
        display: inline; } }

/*# sourceMappingURL=customers.css.map */
