@mixin fonts ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

.customers{
    max-width: 1170px;
    margin: 0 auto 64px;

    .customers__list{
        display: flex;
        margin: 83px 0 0;
        justify-content: space-between;
        
        .customers__item{
            max-width: 370px;

            display: flex;
            flex-direction: column;
            
            .item__message{
                position: relative;
                height: 180px;
                display: flex;
                align-items: center;
                border-radius: 10px;

                background-color: #E2E2E2;

                text-align: center;

                .message__text{
                    @include fonts(Raleway, 18px, 400, #86878B);
                    line-height: 26.2px;

                    padding: 0 20px;
                }
            }

            .triangle{
                width: 30px;
                margin: 0 0 66px 18%;
            }

            .item__info {
                display: flex;

                .avatar{
                    align-self: start;
                }

                .item__text-holder{
                    margin-left: 30px;
                    .item__name {
                        @include fonts(Open Sans, 24px, 700, #000);
                        line-height: 54px;
                        margin-bottom: 15px;
                    }
    
                    .item__position {
                        @include fonts(Raleway, 18px, 400, #000);
                    }
                }
            }
        }
    }
    .slider-menu {
        display: none;
        margin: 32px auto 0;
        width: 130px;
        justify-content: space-between;

        .slider__button {
            display: none;
            width: 8px;
            height: 8px;
            border: 1px solid #86878B;
            background-color: transparent;
            border-radius: 50%;
        }

        .slider__button-active{
            background-color: #86878B;
        }
    }
}


@media(max-width: 1024px){
    .customers{
        margin: 0 auto 57px;
        padding: 0 16px;
    
        .customers__list{
            margin: 32px 0 0;
            
            .customers__item{
                max-width: 317px;
    
                .item__message{
                    border-radius: 10px;
                    &::before{
                        width: 26px;
                        height: 20px;
                        right: 222px;
                    }
    
                    .message__text{
                        @include fonts(Raleway, 14px, 400, #86878B);
                        line-height: 16px;
                        height: 80px;
                        padding: 0 34px;
                    }
                }
                .item__info {
                    .avatar{
                        width: 63px;
                    }
    
                    .item__text-holder{
                        margin-left: 22px;
                        .item__name {
                            @include fonts(Open Sans, 18px, 700, #000);
                            line-height: 36px;
                            margin-bottom: 9px;
                        }
        
                        .item__position {
                            @include fonts(Raleway, 14px, 400, #000);
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
    .customers{
        margin: 0 auto 31px;
    
        .customers__list{
            margin: 24px auto 0;
            max-width: 288px;
            overflow: hidden;
            
            .customers__item{
                min-width: 288px;
    
                .item__message{
                    &::before{
                        right: 213px;
                    }
    
                    .message__text{
                        @include fonts(Raleway, 14px, 400, #86878B);
                        line-height: 16px;
                        height: 80px;
                        padding: 0 34px;
                    }
                }

                .item__info {
                    .avatar{
                        width: 57px;
                    }
    
                    .item__text-holder{
                        margin-left: 22px;
                        .item__name {
                            @include fonts(Open Sans, 14px, 700, #000);
                        }
        
                        .item__position {
                            @include fonts(Raleway, 13px, 400, #000);
                        }
                    }
                }
            }
        }
        .slider-menu {
            display: flex;
    
            .slider__button {
                display: inline;
            }
        }
    }
}