@import "zero.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

$list-border: 1px solid #F5F5F5;
$column-color: #333;


@mixin fonts($ff, $fs, $fw, $lh, $clr) {
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $clr;
}

.price__wrapper{
    width: 1508px;
    background-color: #F5F5F5;
    margin: auto;
}

.price{
    max-width: 1170px;
    margin: 50px auto 50px;

    .price__header{
        text-align: center;
        margin-bottom: 59px;
        padding-top: 50px;

        .price__title{
            @include fonts(Raleway, 36px, 400, 42px, #000);
            text-transform: uppercase;

            height: 120px;
            line-height: 120px;
            vertical-align: middle;
        }

        .price__hr{
            width: 170px;
            margin: 50px auto 0;
        }

        .price__subtitle {
            @include fonts(Raleway,18px ,400 ,21px ,#86878B);
            margin: 40px 0 0;
        }
    }
    .price__list{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: flex-end;
        max-width: 1170px;
        height: 528px;

        .list__column{
            width: 370px;
            height: 510px;
            background-color: #F5F5F5;

            &:hover{
                align-self: flex-start;
                box-shadow: 0 4px 10px 0 rgba(51, 51, 51, 0.2);
            }

            .column__title{
                padding: 13px 0;
                @include fonts(Open Sans ,24px ,700 ,32px ,#fff);
                border: $list-border;

                background-color: $column-color;
            }
            .column__price{
                padding: 26px 0;
                @include fonts(Open Sans ,36px ,700 ,42px ,#fff);
                border: $list-border;

                background-color: $column-color;
            }

            .column__term{
                padding: 13.3px 0;
                @include fonts(Raleway ,18px ,400 ,21px ,rgba(255, 255, 255, 0.5));
                border: $list-border;

                background-color: $column-color;
            }

            .services__list li{
                padding: 13.5px 0;
                @include fonts(Raleway ,18px ,400 ,21px ,#86878B);
                border: $list-border;
                background-color: #fff;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}