@mixin fonts ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

.nav-bar{
    z-index: 10;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;

    .menu{
        display: none;
        width: 55px;
        height: 56px;
        align-self: center;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        background-image: url('../../images/header/menu.svg');
    }

    .nav-bar__menu{
        max-width: 570px;
        display: flex;
        justify-content: space-between;
    }
    .nav-bar__menu a{
        @include fonts(Open Sans, 14px, 600, #fff);
        font-style: normal;
        width: 114px;

        text-decoration: none;
        line-height: 75px;
        vertical-align: middle;
        text-align: center;

        &:hover{
            background-color: #EC7979;
        }

        &:active{
            background-color: #AB4949;
        }
    }
}

.banner{
    background-image: url('../../images/header/header-bg.png');
    background-size: cover;
    margin: 75px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
    }

    .banner-column{
        max-width: 670px;
        margin: 208px 30px 185px;
        z-index: 1;

        .column__title{
            @include fonts(Raleway, 48px, 500, #fff);

            margin: 40px 0 55px 0;
        }

        .column__hr{
            width: 170px;
            border: 0;
            border-top: 1px solid #fff;
            margin-bottom: 42px;
        }
        .column__text{
            @include fonts(Raleway, 18px, 400, #fff);
            max-width: 270px;
            overflow: auto;
            margin-bottom: 42px;
        }

        .column__btn{
            @include fonts (Open Sans, 18px, 600, #fff);
            width: 270px;
            height: 58px;
            background-color: transparent;
            border: 2px solid #fff;

            &:hover{
                cursor: pointer;
                border: 2px solid #EC7979;
                color: #EC7979;
            }
            &:active{
                border: 2px solid #AB4949;
                background-color: #AB4949;
                color: #fff;
            }
        }
    }

    .banner__form{
        z-index: 1;
        align-self: start;
        margin-top: 208px;
        
        text-align: center;
        

        display: flex;
        flex-direction: column;

        background-color: #fff;
        border-radius: 10px;

        .form__title{
            @include fonts(Open Sans, 24px, 700, #333);
            height: 90px;
            line-height: 90px;
            vertical-align: middle;
            margin-bottom: 45px;

            span{
                color: #EC7979;
            }
        }

        input{
            @include fonts(Open Sans, 14px, 400, #BDBDBD);
            width: 370px;
            height: 38px;
            margin: 0 50px 33px 50px;

            border: 0;
            border-bottom: 1px solid #BDBDBD;

            &:focus{
                outline: 0;
            }
        }

        
        .form__btn{
            @include fonts(Open Sans, 15px, 600, #fff);
            line-height: 20px;
            height: 60px;
            margin-top: 42px;

            border: 0;
            background-color: #EC7979;
            border-radius: 0 0 10px 10px;

            &:hover{
                cursor: pointer;
                background-color:#AB4949;
            }

            &:active{
                background-color: #EC7979;
                box-shadow: inset 0 0 10px 0 #AB4949;
            }
        }
    }
}

@media (max-width: 1024px){
    .banner{
        justify-content: flex-end;
        .banner-column{
            max-width: 454px;
            margin: 137px 36px 131px 0;
            z-index: 1;

            img{
                max-width: 183px;
                max-height: 74px
            }
    
            .column__title{
                @include fonts(Raleway, 36px, 500, #fff);
    
                margin: 37px 0 41px 0;
            }
    
            .column__hr{
                width: 115px;
                margin-bottom: 31px;
            }
            .column__text{
                @include fonts(Raleway, 14px, 400, #fff);
                max-width: 183px;
                overflow: auto;
                margin-bottom: 42px;
            }
    
            .column__btn{
                width: 183px;
                height: 54px;
    
                &:hover{
                    cursor: pointer;
                    border: 2px solid #EC7979;
                    color: #EC7979;
                }
                &:active{
                    border: 2px solid #AB4949;
                    background-color: #AB4949;
                    color: #fff;
                }
            }
        }
    
        .banner__form{
            margin: 137px 20px 0 0;
    
            input{
                @include fonts(Open Sans, 14px, 400, #BDBDBD);
                width: 298px;
                height: 35px;
            }
        }
    }
}

@media(max-width: 768px){
    .nav-bar{
        transition: .7s;
        flex-direction: column;
        .column-above{
            display: flex;
            justify-content: space-around;
        }

        .nav-bar__logo{
            max-width: 130px;
            margin-left: 20px;
            object-fit: contain;
        }

        .menu{
            display: block;
            background-image: url("../../images/header/menu.svg");
        }

        .menu__is-active{
            background-image: url("../../images/header/close.svg");
        }
    
        .nav-bar__menu{
            max-width: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 181px;
        }
        .nav-bar__menu a{
            width: 100%;
            display: none;
            line-height: 67px;
            vertical-align: middle;
        }
    }

    .banner{
        margin: 56px auto 0 auto;
        flex-direction: column;
        align-items: center;
    
        .banner-column{
            max-width: 288px;
            text-align: center;
            margin: 84px 16px 56px;

            img{
                display: none
            }
            .column__title{
                @include fonts(Raleway, 36px, 500, #fff);
    
                margin: 0 0 44px;
            }
    
            .column__hr{
                width: 134px;
                margin: 0 auto;
                margin-bottom: 42px;
            }
            .column__text{
                @include fonts(Raleway, 14px, 400, #fff);
                max-width: 277px;
                overflow: auto;
                margin-bottom: 42px;
            }
    
            .column__btn{
                width: 288px;
                height: 50px;
            }
        }
    
        .banner__form{
            margin: 0 auto 50px;

            .form__title{
                @include fonts(Open Sans, 14px, 700, #333);
                margin-bottom: 0;
            }
    
            input{
                width: 240px;
                margin: 0 28px 33px 20px;
            }
            
            .form__btn{
                margin-top: 18px;
            }
        }
    }
}